

<form action="/venues" method="post">
  <label for="venue">Venue Name:</label>
  <input id="venue" name="venue" type="text">

  <button type="submit" class="btn btn-success">Add Venue</button>
</form>

<ul>
  <% if @venues %>
    <% @venues.each() do |venue| %>
<<<<<<< HEAD
    <li><a "/venues/<%=venue.id %>"><%=venue.name()%></a></li>
=======
    <li><a href="/venues/<%= venue.id %>"><%= venue.name() %></a></li>
>>>>>>> c3a7b01c02574eb9badd1707a3e611f610b5dd17
    <% end %>
  <% end %>
</ul>

<<<<<<< HEAD
=======



>>>>>>> c3a7b01c02574eb9badd1707a3e611f610b5dd17
<a href="/"> HOME </a>
